#box {
    background: #EBEBEB;
    height: 200px;
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}
.ui-progressbar {
    background-color: #EBEBEB;
    width: 120px;
    position: relative;
}

.ui-progressbar-value {
    height: 20px;
    margin: -1px;
    background-color: #65BE2E;
}

.progress-label {
    position: absolute;
    left: 40%;
    color: #333333;
}

.options.progress {
    opacity: 1;
    width: 120px;
}

.rowItem {
    clear: both;
    padding: 3px;
    height: 20px;
    font-size: 12px;
    color: #555555;
    text-decoration: none;
    line-height: 20px;
    margin-bottom: 5px;
}
.rowItemWrap {
    position: relative;
    height: 20px;
    width: 100%;
    cursor: pointer;
}
.rowItemWrap span {
    float: left;
    width: 100%;
}
.rowItem .rowItemWrap div {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-right: 5px;
}

.field_content {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: 20px;
    overflow: hidden !important;
    white-space: normal !important;
}
